.com {
  color: #333;
  list-style-type: none;
  background: linear-gradient(to bottom, white, black);
  li {
    > span:first-child {
      font-weight: 500;
    }
    > span:last-child {
      color: #666;
    }
  }
}
