.com {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #666;
    margin-bottom: 8px;
    .selectlabel {
      margin-right: 5px;
    }
  }
  .content {

  }
}
