.com {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  border: solid 1px #e0e0e0;
  border-radius: 2px;
  display: flex;
  font-size: 12px;
  color: #333;
  > div {
    height: 100%;
  }
  > .space {
    flex: 1;
    overflow: auto;
    > .inner {
      display: inline-block;
      min-width: 100%;
      > .line {
        height: 18px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        > div, pre {
          display: inline-block;
          height: 18px;
          line-height: 18px;
          margin: 0px;
        }
        > .linenum {
          width: 40px;
          padding: 0px 5px 0px 5px;
          text-align: right;
          background-color: #ddd;
          color: #999;
          font-weight: bold;
        }
        > .linetext {
          padding: 0px 2px 0px 2px;
        }
      }
    }
  }
  > .split {
    width: 1px;
    min-width: 1px;
    background-color: #333;
  }
}
